@model TestesEntityMVC.Models.Produto

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Deseja realmente deletar este item?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.especificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.especificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.unidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.unidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.grupo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.grupo.descricao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
