@model EntityMVC.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.especificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.especificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.grupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.grupo.descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
