@model IEnumerable<EntityMVC.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grupo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.especificacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.grupo.descricao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-success">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-primary">
                        <i class="bi bi-info-circle"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.MensagemDeErro != null)
{
    <br />
    <div class="alert alert-danger">
        @ViewBag.MensagemDeErro
    </div>
}