@model EntityMVC.Api.ApiConsultaCepResponse

@{
    ViewData["Title"] = "Endereço";
}

<h1>Consulta CEP</h1>

<div>
    <h4>Endereço</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IBGE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IBGE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DDD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DDD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Siafi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Siafi)
        </dd>
    </dl>
</div>
@if (ViewBag.MensagemDeErro != null)
{
    <br />
    <div class="alert alert-danger">
        @ViewBag.MensagemDeErro
    </div>
}